<header class="header">
  <div class="mobile-header"></div>
  <div class="desktop-header">
    <div class="first-nav nav">
      <div class="nav-list">
        <a href="#" class="list-item">
          About us
        </a>
        <a href="#" class="list-item">
          Reservation
        </a>
        <a href="#" class="list-item">
         Gallery
        </a>
      </div>
    </div>
    <div class="logo">
      <a href="#">
        <img data-src="../img/Logo.png" alt="" class="header-logo lazyload">
      </a>
      
    </div>
    <div class="second-nav nav">
      <div class="nav-list">
        <a href="#" class="list-item">
         Blog
        </a>
        <a href="#" class="list-item">
          Elements
        </a>
        <a href="#" class="list-item">
         Shop
        </a>
      </div>
    </div>
  </div>
</header>